{% extends 'base.html' %} {% load jalali_tags %}
{% load static %}
{% block title %}
<title>در باره ی ما</title>
{% endblock %}
<!-- informations starts -->
<!-- Inner Banner -->
{% block content %}


<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>درباره ما</h3>
            <ul id="breadcrumbs" class="breadcrumbs">
                <li class="home"><a class="bread-link bread-home" href="{% url 'website:home' %}" title="صفحه اصلی">صفحه
                    اصلی</a></li>
                <li class="separator separator-home"><i class="bx bx-chevrons-left"></i></li>
                <li class="item-current item-7915"><strong class="bread-current bread-7915"> درباره ما</strong></li>
            </ul>

            <script type="application/ld+json">{
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "name": "Breadcrumb",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "item": {
                            "@type": "WebPage",
                            "@id": "{{ request.scheme }}://{{ request.get_host }}{% url 'website:home' %}",
                            "name": "\u0635\u0641\u062d\u0647 \u0627\u0635\u0644\u06cc"
                        }
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "item": {
                            "@type": "WebPage",
                            "@id": "{{ request.scheme }}://{{ request.get_host }}{% url 'website:about-us' %}",
                            "name": "در باره ی ما"
                        }
                    }
                ]
            }</script>
        </div>
    </div>

</div>
<!-- Inner Banner End -->

<!-- Privacy-Policy Area -->
<div class="privacy-policy-area pt-100 pb-70">

    <div class="text-center">
    </div>
    <div class="container">
        {{ about_us.content|safe }}
    </div>
</div>
<!-- Privacy-Policy Area End -->

{% endblock %}






