{% extends 'base.html' %} {% load jalali_tags %}
{% load static %}
<!-- Inner Banner -->
{% block content %}

    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>blog</h3>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li class="home"><a class="bread-link bread-home" href="{% url 'website:home' %}" title="صفحه اصلی">صفحه
                        اصلی</a></li>
                    <li class="separator separator-home"><i class="bx bx-chevrons-left"></i></li>
                    <li class="item-current item-cat"><strong class="bread-current bread-cat">blog</strong></li>
                </ul>

                <script type="application/ld+json">{
                    "@context": "https:\/\/schema.org",
                    "@type": "BreadcrumbList",
                    "name": "Breadcrumb",
                    "itemListElement": [
                        {
                            "@type": "ListItem",
                            "position": 1,
                            "item": {
                                "@type": "WebPage",
                                "@id": "{{ request.scheme }}://{{ request.get_host }}{% url 'website:home' %}",
                                "name": "\u0635\u0641\u062d\u0647 \u0627\u0635\u0644\u06cc"
                            }
                        },
                        {
                            "@type": "ListItem",
                            "position": 2,
                            "item": {
                                "@type": "WebPage",
                                "@id": "{{ request.scheme }}://{{ request.get_host }}{% url 'blog:home' %}",
                                "name": "blog"
                            }
                        }
                    ]
                }</script>
            </div>
        </div>
        <div class="inner-shape">
            <img src="{% static 'images/shape/inner-shape.png' %}" alt="Images">
        </div>
    </div>
    <!-- Inner Banner End -->


    <!-- Blog Style Area -->
    <div class="blog-style-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-6">

                            <div class="blog-card">
                                <div class="blog-img">
                                    <a href="{% url 'website:post' post.id %}">
                                        <img width="500" height="400"
                                             src="{{post.image.url}}"
                                             class="attachment-blog size-blog wp-post-image"
                                             alt="مکان های تاریخی آنتالیا"
                                             decoding="async" fetchpriority="high"> </a>
                                    <div class="blog-tag">
                                        <h3>{{ post.published_date|to_jalali:'%Y/%m/%d' }}</h3>

                                    </div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <span><i class="bx bxs-user"></i>{{ post.author}}</span>
                                        </li>
                                        <li>
                                            <a href="{% url 'blog:home' %}"><i
                                                    class="bx bx-purchase-tag-alt"></i> blog</a></li>
                                    </ul>
                                    <h3>
                                        <a href="{% url 'website:post' post.id %}">{{ post.title }}</a>
                                    </h3>
                                    <p>{{ post.description|truncatewords:5 }}....</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="col-lg-12 col-md-12 text-center">
                            <div class="pagination-area">
                                {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}" class="page-numbers"><i class="bx bx-right-arrow-alt"></i></a>
                                    <a class="page-numbers current" href="?page=1">1</a>
                                    <span><span class="page-numbers">…</span></span>
                                    <a class="page-numbers" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a>
                                {% endif %}
                                <a class="page-numbers current" href="#">{{ posts.number }}</a>
                                {% if posts.has_next %}
                                <a class="page-numbers" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a>
                                <span><span class="page-numbers">…</span></span>
                                <a class="page-numbers" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
                                 <a href="?page={{ posts.next_page_number }}" class="page-numbers"><i
                                        class="bx bx-left-arrow-alt"></i></a>
                                {% endif %}
</div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="side-bar-area">
                        <div class="search-widget">
                            <form class="search-form" method="get" action="{% url 'website:home' %}" role="search">
                                <input type="search" class="form-control" placeholder="جستجو  کنید" value="" name="s">
                                <button type="submit">
                                    <i class="bx bx-search"></i>
                                </button>
                            </form>
                        </div>

                        <div class="side-bar-widget">
                            <h3 class="title">دسته بندی های</h3>
                            <div class="side-bar-categories">
                                <ul>
                                    <li>
                                        <div class="line-circle"></div>
                                        <a href="{% url 'blog:home' %}">blog<span>[{{ blog_count }}]</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="side-bar-widget">
                            <h3 class="title">آخرین مطالب</h3>
                            <div class="widget-popular-post">
                                {% for post in blogs %}
                                <article class="item">
                                    <a href="{% url 'website:post' post.id %}" class="thumb">
                                        <img width="150" height="150"
                                             src="{{post.image.url}}"
                                             class="attachment-thumbnail size-thumbnail wp-post-image"
                                             alt="{{ post.title}}" decoding="async" loading="lazy"> </a>
                                    <div class="info">
                                        <h4 class="title-text">
                                            <a href="{% url 'website:post' post.id %}">
                                                {{ post.title}} </a>
                                        </h4>
                                        <p>{{ post.published_date|to_jalali:'%Y/%m/%d' }}</p>
                                    </div>
                                </article>
                                {% endfor %}

                        </div>

                        <div class="side-bar-widget">
                            <h3 class="title">برچسب ها</h3>
                            <ul class="side-bar-widget-tag">
                                {% for tag in tags %}
                                <li>
                                    <a href="{% url 'website:tag' tag.id %}">{{ tag }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Blog Style Area End -->
    </div>

{% endblock %}






