{% extends 'base.html' %} {% load jalali_tags %}
{% load static %}
{% block title %}
<title>{{package.title}}</title>
{% endblock %}
<!-- informations starts -->
<!-- Inner Banner -->
{% block content %}

    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>{{ package.name }}</h3>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li class="home"><a class="bread-link bread-home" href="{% url 'website:home' %}" title="صفحه اصلی">صفحه
                        اصلی</a></li>
                    <li class="separator separator-home"><i class="bx bx-chevrons-left"></i></li>
                    <li class="item-parent item-parent-8110"><a class="bread-parent bread-parent-8110"
                                                                href="{% url 'tour:all-tour' %}" title="تورها">تورها</a>
                    </li>
                    <li class="separator separator-8110"><i class="bx bx-chevrons-left"></i></li>
                    <li class="item-current item-12265"><strong title="{{ package.name }}"> {{ package.name }}</strong>
                    </li>
                </ul>
                <script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"BreadcrumbList","name":"Breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"{{ request.scheme }}://{{ request.get_host }}{% url 'website:home' %}","name":"\u0635\u0641\u062d\u0647 \u0627\u0635\u0644\u06cc"}},{"@type":"ListItem","position":2,"item":{"@type":"WebPage","@id":"{{ request.scheme }}://{{ request.get_host }}{% url 'tour:all-tour' %}","name":"\u062a\u0648\u0631\u0647\u0627"}},{"@type":"ListItem","position":3,"item":{"@type":"WebPage","@id":"{{ request.scheme }}://{{ request.get_host }}{% url 'tour:package' package.id %}","name":"{{package.title|escapejs}}"}}]}</script>
            </div>
        </div>

    </div>
    <!-- Inner Banner End -->

    <!-- Privacy-Policy Area -->
    <div class="privacy-policy-area pt-100 pb-70">

        <div class="text-center">
        </div>
        <div class="container">

            {{ package.content|safe }}
            <div id="tour-rows" class="row">
                {% for tour in package.subtours.all %}
                    <div class="col-lg-12">
                        <div class="single-tour-item2 position-relative ">
                            <div class="number position-absolute ">
                                <a href="#" class="d-flex align-items-center">
                                    <span>رزرو تلفنی تور</span>
                                    <span class="ms-auto num">{{ contact_us.phone_number }}</span>
                                    <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="20"
                       height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                       stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                    <path d="M15 7a2 2 0 0 1 2 2"></path>
                    <path d="M15 3a6 6 0 0 1 6 6"></path>
                  </svg>
              </span>
                                </a>
                            </div>
                            <div class="top d-flex flex-column align-items-center flex-md-row gap-4">

                                <div class="img overflow-hidden">
                                    <a href="{% url 'tour:tour' tour.id %}">
                                        <img decoding="async" width="500" height="270"
                                             src="{{ tour.image.url }}"
                                             class="attachment-blog size-blog wp-post-image" alt=""> </a>
                                </div>
                                <div class="inf d-flex flex-column flex-md-row">
                                    <div class="det">

                                        <h3 class="tour-link">
                                            <a href="{% url 'tour:tour' tour.id %}"><span
                                                    class="icon-click"></span>{{ tour.name }}</a>
                                        </h3>


                                        <ul class="list-unstyled mb-0">

                                            <li class="d-flex align-items-center gap-2 tour_from">
                                                <div class="tour-name tour_from">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg"
                                       class="icon icon-tabler icon-tabler-plane-departure" width="20" height="20"
                                       viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                       stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M14.639 10.258l4.83 -1.294a2 2 0 1 1 1.035 3.863l-14.489 3.883l-4.45 -5.02l2.897 -.776l2.45 1.414l2.897 -.776l-3.743 -6.244l2.898 -.777l5.675 5.727z"></path>
                                      <path d="M3 21h18"></path>
                                  </svg>
                              </span>
                                                    مبدا :
                                                </div>
                                                <div class="tour-value tour_from">{{ tour.origin }}</div>
                                            </li>
                                            <li class="d-flex align-items-center gap-2 tour_to">
                                                <div class="tour-name tour_to">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg"
                                       class="icon icon-tabler icon-tabler-plane-arrival"
                                       width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                       stroke="currentColor"
                                       fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M15.157 11.81l4.83 1.295a2 2 0 1 1 -1.036 3.863l-14.489 -3.882l-1.345 -6.572l2.898 .776l1.414 2.45l2.898 .776l-.12 -7.279l2.898 .777l2.052 7.797z"></path>
                                      <path d="M3 21h18"></path>
                                    </svg>
                              </span>
                                                    مقصد :
                                                </div>
                                                <div class="tour-value tour_to">{{ tour.destination }}</div>
                                            </li>
                                            <li class="d-flex align-items-center gap-2 tour_due">
                                                <div class="tour-name tour_due">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed"
                                       width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                       stroke="currentColor"
                                       fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M22 17v-3h-20"></path>
                                    <path d="M2 8v9"></path>
                                    <path d="M12 14h10v-2a3 3 0 0 0 -3 -3h-7v5z"></path>
                                  </svg>
                              </span>
                                                    مدت اقامت (شب) :
                                                </div>
                                                <div class="tour-value tour_due">{{ tour.duration }}</div>
                                            </li>

                                            <li class="d-flex align-items-center gap-2 tour_date">
                                                <div class="tour-name tour_date">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg"
                                       class="icon icon-tabler icon-tabler-calendar-month" width="20" height="20"
                                       viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                       stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                                      <path d="M16 3v4"></path>
                                      <path d="M8 3v4"></path>
                                      <path d="M4 11h16"></path>
                                      <path d="M7 14h.013"></path>
                                      <path d="M10.01 14h.005"></path>
                                      <path d="M13.01 14h.005"></path>
                                      <path d="M16.015 14h.005"></path>
                                      <path d="M13.015 17h.005"></path>
                                      <path d="M7.01 17h.005"></path>
                                      <path d="M10.01 17h.005"></path>
                                    </svg>
                              </span>
                                                    تاریخ شروع :
                                                </div>
                                                <div class="tour-value tour_date">{{ tour.start_date|to_jalali:'%Y/%m/%d' }}</div>
                                            </li>
                                            <li class="d-flex align-items-center gap-2 expiration">
                                                <div class="tour-name expiration">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg"
                                       class="icon icon-tabler icon-tabler-calendar-x"
                                       width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                       stroke="currentColor"
                                       fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6.5"></path>
                                    <path d="M16 3v4"></path>
                                    <path d="M8 3v4"></path>
                                    <path d="M4 11h16"></path>
                                    <path d="M22 22l-5 -5"></path>
                                    <path d="M17 22l5 -5"></path>
                                  </svg>
                              </span>
                                                    تاریخ انقضا :
                                                </div>
                                                <div class="tour-value expiration">{{ tour.return_date|to_jalali:'%Y/%m/%d' }}</div>
                                            </li>
                                            <li class="d-flex align-items-center gap-2 expiration">
                                                <div class="tour-name expiration">
                              <span class="icon">
                                  <svg xmlns="http://www.w3.org/2000/svg"
                                       class="icon icon-tabler icon-tabler-calendar-x"
                                       width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                       stroke="currentColor"
                                       fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6.5"></path>
                                    <path d="M16 3v4"></path>
                                    <path d="M8 3v4"></path>
                                    <path d="M4 11h16"></path>
                                    <path d="M22 22l-5 -5"></path>
                                    <path d="M17 22l5 -5"></path>
                                  </svg>
                              </span>
                                                    اپدیت تور :
                                                </div>
                                                <div class="tour-value expiration"> {{ tour.last_update|to_jalali:'%Y/%m/%d' }}</div>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="left ms-auto position-relative d-flex flex-column justify-content-end">
                                        <div class="offer position-absolute d-none">پیشنهاد ویژه</div>

                                        <div class="bot  position-relative">
                                            <div class="price position-relative">
                                                <span class="position-absolute tit">شروع قیمت از</span>
                                                <span>{{ tour.price }} تومان </span>

                                            </div>
                                            <a href="{% url 'tour:tour' tour.id %}"
                                               class="mor d-flex d-md-none align-items-center justify-content-center">
                                                اطلاعات بیشتر
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-chevron-left" width="20"
                                                     height="20"
                                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                     fill="none"
                                                     stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M15 6l-6 6l6 6"></path>
                                                </svg>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="flightsd">
                                <!-- Start Flight -->
                                <div class="hotels-list__flights-detail hotels-list__flights-detail--internal">

                                    <div class="flights-list__box flights-list__box--internal">
                                        <div class="c-itinerary">
                                            <div class="itinerary itinerary--hotel-list">
                                                <div class="itinerary__row--hotel-list">
                                                    <div class="c-flight-route">
                                                        <div class="flight-route flight-route--hotel-list">
                                                            <div class="flight-route__row--hotel-list flight-route__row--internal">
                                                                <div class="flight-route__container flight-route__container--hotel-list">
                                                                    <div class="flight-route__img-title flight-route__img-title--hotel-list">
                                                                        <div>
                                                                            <div class="flight-route__img-container">
                                  <span class="flight-route__img flight-route__img--hotel-list">
                                                                   <img decoding="async"
                                                                        src="{% static 'images/airline.jpg' %}"
                                                                        alt="">

                                  </span>
                                                                            </div>
                                                                            <span class="flight-route__title">{{ tour.flight_go.company_name }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flight-route__route flight-route__route--hotel-list">
                                                                        <div class="flight-route__start-point flight-route__start-point--hotel-list">
                                                                            <span>{{ tour.flight_go.start_hour }}</span>
                                                                            <span>
                                  <span>{{ tour.origin }}</span>
                                </span>
                                                                        </div>
                                                                        <div class="flight-route__time-line flight-route__time-line--hotel-list">
                                                                            <i class="icon-plane-line">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                     class="icon icon-tabler icon-tabler-plane"
                                                                                     width="24" height="24"
                                                                                     viewBox="0 0 24 24"
                                                                                     stroke-width="1.5"
                                                                                     stroke="currentColor"
                                                                                     fill="none" stroke-linecap="round"
                                                                                     stroke-linejoin="round">
                                                                                    <path stroke="none"
                                                                                          d="M0 0h24v24H0z"
                                                                                          fill="none"></path>
                                                                                    <path d="M16 10h4a2 2 0 0 1 0 4h-4l-4 7h-3l2 -7h-4l-2 2h-3l2 -4l-2 -4h3l2 2h4l-2 -7h3z"></path>
                                                                                </svg>
                                                                            </i>
                                                                        </div>
                                                                        <div class="flight-route__end-point flight-route__end-point--hotel-list">
                                                                            <span>{{ tour.flight_go.reach_hour }}</span>
                                                                            <span>
                                  <span>{{ tour.destination }}</span>
                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flights-list__box flights-list__box--internal">
                                        <div class="c-itinerary">
                                            <div class="itinerary itinerary--hotel-list">
                                                <div class="itinerary__row--hotel-list">
                                                    <div class="c-flight-route">
                                                        <div class="flight-route flight-route--hotel-list">
                                                            <div class="flight-route__row--hotel-list flight-route__row--internal">
                                                                <div class="flight-route__container flight-route__container--hotel-list">
                                                                    <div class="flight-route__img-title flight-route__img-title--hotel-list">
                                                                        <div>
                                                                            <div class="flight-route__img-container">
                                  <span class="flight-route__img flight-route__img--hotel-list">
                                                                   <img decoding="async"
                                                                        src="{% static 'images/airline2.jpg' %}"
                                                                        alt="">
                                  </span>
                                                                            </div>
                                                                            <span class="flight-route__title">{{ tour.flight_return.company_name }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flight-route__route flight-route__route--hotel-list">
                                                                        <div class="flight-route__start-point flight-route__start-point--hotel-list">
                                                                            <span>{{ tour.flight_return.start_hour }}</span>
                                                                            <span>
                                  <span>{{ tour.destination }}</span>
                                </span>
                                                                        </div>
                                                                        <div class="flight-route__time-line flight-route__time-line--hotel-list">
                                                                            <i class="icon-plane-line">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                     class="icon icon-tabler icon-tabler-plane"
                                                                                     width="24" height="24"
                                                                                     viewBox="0 0 24 24"
                                                                                     stroke-width="1.5"
                                                                                     stroke="currentColor"
                                                                                     fill="none" stroke-linecap="round"
                                                                                     stroke-linejoin="round">
                                                                                    <path stroke="none"
                                                                                          d="M0 0h24v24H0z"
                                                                                          fill="none"></path>
                                                                                    <path d="M16 10h4a2 2 0 0 1 0 4h-4l-4 7h-3l2 -7h-4l-2 2h-3l2 -4l-2 -4h3l2 2h4l-2 -7h3z"></path>
                                                                                </svg>
                                                                            </i>
                                                                        </div>
                                                                        <div class="flight-route__end-point flight-route__end-point--hotel-list">
                                                                            <span>{{ tour.flight_return.reach_hour }}</span>
                                                                            <span>
                                  <span>{{ tour.origin }}</span>
                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>              <!-- End Flight -->

                            </div>
                        </div>

                    </div>
                {% endfor %}
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="pagination-area"></div>
                </div>
            </div> <!-- برای استانبول  --><p></p>


            <div class="child-pages-container">
                <div class="child-pages-header">تورهای {{ package.tag.name }}</div>
                <div class="child-pages-content">
                    <ul>
                        {% for pack in samepackages %}
                            <li>
                                <a href="{% url 'tour:package' pack.id %}" target="_blank"
                                   title="{{ pack.name }}">{{ pack.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <div id="home-blog" class="pb-5 pt-5">
                <div id="link-block">
                    <div class="takc">
                        <h3 class="mb-5">??مطالب خواندنی</h3>
                    </div>
                    {% for post in related_posts %}
                        <div class="blog-card horiz d-flex flex-column flex-lg-row">
                            <div class="blog-img">
                                <a href="{% url 'website:post' post.id %}">
                                    <img loading="lazy" decoding="async" width="1280" height="720"
                                         src="{{ post.image.url }}"
                                         class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                         alt="{{ post.title }}"
                                         sizes="auto, (max-width: 1280px) 100vw, 1280px"> </a>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                    <span><i class="bx bxs-user"></i>توسط
                                    {{ post.author }}                                </span>
                                    </li>
                                    <li>
                                        <a href="{% url 'blog:home' %}"><i
                                                class="bx bx-purchase-tag-alt"></i>
                                            blog</a></li>
                                </ul>
                                <h3>
                                    <a href="{% url 'website:post' post.id %}">{{ post.name }}</a>
                                </h3>
                                <p>{{ post.description|truncatewords:5 }}.....</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if ads %}
               <figure class="wp-block-video"><video controls="" src="{{ ads.video_file.url }}"></video><figcaption class="wp-element-caption">{{ ads.content }}</figcaption></figure>

            {% endif %}


        </div>
    </div>
    <!-- Privacy-Policy Area End -->






{% endblock %}


